* { margin: 0; padding: 0; }

body { font-family: "Trebuchet MS", Arial, sans-serif; background: #eeeeee; }
a img { border:0; }

.left{ float: left; width: 300px; }
.right{ float: right; width: auto; }
.clear{ clear: both; }

#friends .left{ width: auto; padding: 14px;}

input{ padding: 2px 8px 2px 8px; font-size: 1.2em; border-radius: 3px; }
input[type=text] { border: 1px solid #c8c5d2; height: 36px; width: 250px; line-height: 36px; }
input[type=password] { border: 1px solid #c8c5d2; height: 36px; width: 250px; }
input[type=submit] { padding: 8px; cursor: pointer; }
input:hover[type=submit] { padding: 8px; cursor: pointer; background-color: #c8c5d2; }
textarea { width: 400px; height: 100px; }

div.section { margin: 0 auto; overflow: hidden; width: 950px; }

#header { background: #5599bb; border-bottom: 2px solid #e3e1ec; padding: 14px 0 6px 0; height: 40px; }

#navigation { float: right; }
#navigation ul { list-style-type: none; }
#navigation li { float: left; padding: 14px; }
#navigation ul a { text-decoration: none; color: #fff; font-size: 1.3em; }
#navigation li a:hover { color: #c8c5d2; }

#view { background: #fff; padding: 14px 0; min-height: 300px; }
#view h1 { font-size: 3.0em; }
#view .input { margin: 16px 0 16px 0; }
#view .input-submit{ margin: 16px 0 16px 0; }
#view label { font-size: 0.8em; display: block; }
#view span.error { color:#9c2d2d; padding-left:12px; }
#view.right {  }

#footer { background: #eeeeee url('/snp/content/gfx/footer.gif') repeat-x; border-top: 2px solid #c8c5d2; text-align: center; padding: 10px; color: #000000; }

div#message-box {
    display:none;
    position:fixed; margin-left:-205px; left:50%; width:410px; top:100px;
    text-align: center; background:#f5e6b4; border:5px solid #ffffff; padding:24px; font-size:20px; z-index:1; box-shadow:0 0 20px #999; border-radius:8px;
}

.hidden_text {display: none;}

/* Only for the search view - should go into a seperate css */
#view ul.searchresult {}
#view ul.searchresult li { margin-left:24px; padding:6px; }

/*----------------profile wall----------------------------------------------*/
textarea.status-field{ width: 500px; height: 40px; }
.update-field { padding: 14px; border-bottom: 1px dotted #999; cursor: pointer;}
.update-field:hover { background-color: #e3e1ec; }
.update-field-left { float: left; width: 70px;}
.update-field-right { float: left; width: auto;}
.update-date {font-size: 0.7em; color: darkgrey;}
/*--------------------------------------------------------------------------*/
