*{margin: 0; padding: 0;}

body {
    font-family: "Trebuchet MS", Arial, "Bitstream Vera Sans", sans-serif;
    background: #eeeeee;
    /*background: #fff url('/snp/content/gfx/topbluefade.gif') repeat-x;*/
}

#header-wrap{
    background: #5599bb;
    border-bottom: 2px solid #e3e1ec;
}

#header
{
    margin: 0 auto;
    width: 950px;
    padding: 14px 14px 10px 14px;
    height: 40px;
    overflow: hidden;
    
}

#main-wrap{
    background: #fff;
}

#main{
    margin: 0 auto;
    width: 950px;
    padding: 14px;
    min-height: 300px;
}

#main h1 {
    font-size: 3.0em;
}

#main{
    
}

#main input[type=text]{
    border: 1px solid #c8c5d2;
    height: 36px;
    width: 250px;
}

#main input[type=password]{
    border: 1px solid #c8c5d2;
    height: 36px;
    width: 250px;
}

#main input{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    padding: 2px 8px 2px 8px;
    font-size: 1.2em;
}

#main input[type=submit]{
    padding: 8px;
    cursor: pointer;
}

#main input:hover[type=submit]{
    padding: 8px;
    cursor: pointer;
    background-color: #c8c5d2;
}

#main label{
    font-size: 0.8em;
}

#main-menu{
    float: right;
}

#main-menu ul{
    list-style-type: none;
}

#main-menu li{
    float: left;
    padding: 14px;
}

#main-menu ul a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;

}

#main-menu li a:hover{
    color: #c8c5d2; 
}

#footer-wrap{
    background: #eeeeee url('/snp/content/gfx/footer.gif') repeat-x;
    border-top: 2px solid #c8c5d2;
}

#footer{
    margin: 0 auto;
    width: 950px;
    text-align: center;
    padding: 10px;
    color: #330066;
}

div.header-bottom {
margin: 0 auto 0 auto;
text-align: center;
/*background-color: #981A21;*/
background-color: #e3e1ec;
font-size: 11px;
padding: 2px;
color: white;
}

div.footer-top {
margin: 0 auto;
text-align: center;

}

.input{
    margin: 4px 0 4px 0;
}

.input-submit{
    margin: 12px 0 4px 0;
}

.message-box{
    text-align: center;
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:auto;
    min-height: 60px;
    width:408px;
    background:#FFFFFF;
    border:2px solid #999;
    z-index:2;
    box-shadow: 0 0 20px #999;
    border-radius: 8px;
    padding:12px;
    font-size:13px;
}